<div
    class="d-flex flex-column flex-md-row flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white shadow-sm border-bottom fixed-top">
    <img src="../../assets/images/logo.png" style="max-height: 70px;" alt="logo">
    <nav class="my-2 my-md-0 mr-md-3 text-uppercase" style="font-size: larger;">
        <a class="me-3  text-dark text-decoration-none link">Home</a>
        <a class="me-3  text-dark text-decoration-none link">Shope</a>
        <a class="me-3  text-dark text-decoration-none link">Contact</a>
    </nav>
    <div class=" flex-column align-items-center justify-content-center">
        <span class="position-relative" style="margin-right: 20px;">
            <i class="fa-solid fa-cart-plus text-dark fa-xl"></i>
            <span class="card-no">5</span>
        </span>
        <a class="btn  btn-outline-secondary btn-sm border-2  " style="margin-left: 10px;">Login</a>
        <a class="btn  btn-outline-secondary btn-sm border-2  " style="margin-left: 10px;">Sign Up</a>
    </div>
</div>